# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
.env
venv/
env/
ENV/
.env/
.venv/
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.spyderproject
.spyproject
.ropeproject
.project
.pydevproject
.settings/

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Distribution / packaging
.Python
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Logs and databases
*.log
*.sql
*.sqlite
*.db
logs/

# Weights and model files
*.weights
*.pt
*.pth
*.h5
*.onnx
*.tflite
*.trt


# Pytorch Lightning logs
lightning_logs/

# TensorBoard logs
runs/

# Output files
output/
results/

# Temporary files
tmp/
temp/
